@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

th,
.b {
    padding: 10px 50px;
}
.m{
    padding: 10px 40px;
}
.f{
    padding: 10px 60px;
}
.c {
    display: flex;
}

.d {
    font-weight: bold;
}

.ee {
    color: white;
    font-weight: bold;
    background-color: green;
    border-radius: 10px;
    padding: 2px 5px;
}

.di {
    font-weight: 600;
}